#grid {
    z-index: 10;
    margin:var(--twentypx) auto var(--twentypx) auto;
    width:var(--tenfortypx);
    height:auto;
    
    display: var(--grid);
    grid-gap: var(--tenpx);
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: 
        "a a b b b"
        "a a b b b"
        "a a b b b";
        /* 
           Summary of person is B, 
           Resume box is C */
}

#a {
    grid-area: a;
    z-index: 15;
    font-size: var(--em2);
    display: var(--grid);
    display: inline-flex;
    justify-content: var(--center);
    align-items: var(--center);
    background-color:white;
}

#b {
    grid-area: b;
    z-index: 15;
    font-size: var(--em2);
    display: var(--grid);
    display: inline-flex;
    justify-content: var(--center);
    align-items: var(--center);
    background-color:#BCFD4C;
}

#c {
    grid-area: c;
    z-index: 15;
    font-size: var(--em2);
    display: var(--grid);
    display: inline-flex;
    justify-content: var(--center);
    align-items: var(--center);
}

#d {
    grid-area: d;
    z-index: 15;
    font-size: var(--em2);
    display: var(--grid);
    display: inline-flex;
    justify-content: var(--center);
    align-items: var(--center);
}

body {
    color: var(--black);
    background: #6E6E6E;
    font-family: 'Roboto', sans-serif;    
}
